<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Assets/css/bootstrap.css">
	<link rel="stylesheet" href="../Assets/vendor/linericon/style.css">
	<link rel="stylesheet" href="../Assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../Assets/vendor/owl-carousel/owl.carousel.min.css/">
	<link rel="stylesheet" href="../Assets/vendor/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="../Assets/vendor/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="../Assets/vendor/animate-css/animate.css">
	<!-- main css -->
	<link rel="stylesheet" href="../Assets/css/styleindex.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-4 header-top-left">
                        <a href="tel:+9530123654896">
                            <span class="lnr lnr-phone"></span>
                            <span class="text">
                                <span class="text">+233547981218  +233277732456</span>
                            </span>
                        </a>
                        <a href="mailto:support@colorlib.com">
                            <span class="lnr lnr-envelope"></span>
                            <span class="text">
                                <span class="text">ScarHealth@gmail.com</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right">
                        <a href="/users/login" class="text-uppercase">Login</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_menu">
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between" method="" action="">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="../Assets/img/move.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/About">About</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
						</ul>
					
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Scar-Health Hospital Management Software</h2>
                            <p>Advanced management software for hospitals, clinics, and doctors' offices with great online 
                                Database Management.

                            </p>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Department Area =================-->
    <div class="department_area section_gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src="../Assets/img/about.jpg" alt="">
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="dpmt_right">
                        <h1>Scar-Health Operations</h1>
                        <p>(Hospital Management Information System) is a complete hospital/medical centre automation solution covering all the processes that medical facilities have, including Patient Admissions & Discharges, Operation Theatre Management, Pharmacy Sales & Stock Management, Laboratory & Testing Management, Doctors/Staff Management, Patient Accounts Management, and Comprehensive Reporting. These options generate categorized income reports such as admissions, operations/procedures, pharmacy sales, laboratory income reports, and high-level executive revenue reports on a daily, monthly, and yearly basis.

                            It includes different modules such as a Patient Admission Module, Operation Theatre Management Module, Pharmacy Module, Laboratory Module, Reports Module, Settings & Configuration Module, Users Management Module, and Database Backup & Restore Module. All these modules are very well-documented and also come along with the development guide.
                            
                            It has almost all the reports that can be needed for efficient hospital management. The system also has options to create different groups that have their own responsibilities to manage.</p>
                        
                        <a href="test.html" class="primary-btn text-uppercase">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Department Area =================-->

    <!--================ Start Instructor Area =================-->
    <div class="popular_courses lite_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="main_title">
						<h2>Main Features</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single course -->
				
				<div class="col-lg-3 col-md-6">
					<div class="course_content">
						<h4>
							<a href="">OPD / IPD Operations</a>
						</h4>
						<p>This feature allows nurses and Opd staffs to register new patient, record his/her vitals and submit it to the consulting doctor.  It also allow the hospitals to manage their bedding system, admit a patient and discharge patients successfully.</p>
						
					</div>
				</div>

				<!-- single course -->
				<div class="col-lg-3 col-md-6">
						<div class="course_content">
							<h4>
								<a href="">Physician Activity Section</a>
							</h4>
							<p>This section is solely for consulting physicians, they can view the vitals of any particular patient, enter the medical reports and add medications which will be send to the pharmacy. This feature also allow doctors to view the medical history and laboratory results of any patient</p>
							
						</div>
					</div>
			
				<!-- single course -->
				<!-- single course -->
				<div class="col-lg-3 col-md-6">
					<div class="course_content">
						<h4>
							<a href="">Accounts Operations</a>
						</h4>
						<p>This feature allows the accounts section to view all the bills accumulated by any particular patient during his/her visit to the hospital/clinic. staff can procced to initiate payment and print receipt. This feature gives detail history of all the accounts activities   </p>
						
					</div>
				</div>
				<!-- single course -->
			
			<div class="col-lg-3 col-md-6">
				<div class="course_content">
					<h4>
						<a href="">Pharmacy and Laboratory</a>
					</h4>
					<p>At the pharmacy, staff can view doctor's prescribed drugs and administer. They can add stocks manually all or by excell upload. Drugs are sold with automatic stock update operations. The laboratory also allow upload of lab result and other key services </p>
					
				</div>
			</div>
			
			</div>
		</div>
	</div>
    <!--================ End Instructor Area =================-->

    <!--================ Start Department Area =================-->
    
  

    <!--================ Start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Website Management</a></li>
						<li><a href="#">Online Database</a></li>
						<li><a href="#">Hospital And clinic IT Solutions</a></li>
						<li><a href="#">Branding Services</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Hospital Management</a></li>
						<li><a href="#">IT Solutions</a></li>
						<li><a href="#">Online Database Management</a></li>
						<li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Talk to Us</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                            <button class="click-btn btn btn-default">
                                <span>subscribe</span>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright © 2020 All rights reserved | This
                
                <a href="#">ScarHealth</a></p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../Assets/js/jquery-3.2.1.min.js"></script>
	<script src="../Assets/js/popper.js"></script>
	<script src="../Assets/js/bootstrap.min.js"></script>
	<script src="../Assets/js/stellar.js"></script>
	<script src="../Assets/js/countdown.js"></script>
	<script src="../Assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="../Assets/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="../Assets/js/owl-carousel-thumb.min.js"></script>
	<script src="../Assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="../Assets/vendor/counter-up/jquery.counterup.js"></script>
	<script src="../Assets/js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../Assets/js/gmaps.min.js"></script>
	<script src="../Assets/js/theme.js"></script>
</body>

</html>