<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient/folder</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../Assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../Assets/css/form.css">
    <script src="../Assets/js/jquery-1.3.2.min.js"></script>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
               
               
                </div>
                <div class="signup-form"> 
                    <form action="" method="" class="register-form" id="register-form">
                      
                        <h2> Doctor - Patient Appointment Form</h2>
                        <% include ./partials/messages %>
                        <%if(Info.length > 0){ %>
                            <% Info.forEach(function(row){%>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Doctor_UserName">DOctor's UserName</label>
                                <input type="text" value="<%= userName%>" name="Doctor_UserName" placeholder="Doctor's Name" id="Doctor_UserName" required/>
                            </div>
                            
                            <div class="form-group">
                                <label for="patient_name">Patient Name</label>
                                    <input type="text" value="<%= row.Name %>" name="patient_name" id="patient_name" required/>
                             </div>
                      </div>
                       <div class="form-row">
                            <div class="form-group">
                            <label for="patient_ID">LPatient ID..... </label>
                                <input type="text" value="<%= row.patientID %>" name="patient_ID" id="patient_ID" required/>
                            </div>
                    
                        <div class="form-group">
                            <label for="Appointment_Date"> Appointment Date </label>
                            <input type="date" name="Appointment_Date" id="Appointment_Date" required/>
                        </div>
                    </div>
                        
                         <div class="form-group">
                            <label for="Purpose">Purpose Of The Appointment</label>
                            <input type="text" name="Purpose" id="Purpose" required/>
                        </div>
                         
                        <div class="form-group">
                            <label for="Contact">Contact Of Patient</label>
                            <input type="text" value="<%= row.Telephone %>" name="Contact" id="Contact" required/>
                        </div>
                        <%});%>
                        <%}else{%>\
                            NO PATIENT HAVE BEEN SELECTED
                            <% } %>
                    
                        
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Create Folder" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script>
  
        $('#Hide').hide()
       var submit = document.getElementById('submit')
        submit.addEventListener("click", (e)=>{
            e.preventDefault();          
             let patient_name =document.getElementById('patient_name').value
             let patient_ID =document.getElementById('patient_ID').value
             let Appointment_Date =document.getElementById('Appointment_Date').value
             let Purpose =document.getElementById('Purpose').value
             let Contact =document.getElementById('Contact').value
             let Doctor_UserName =document.getElementById('Doctor_UserName').value
          
             let Data = { patient_name:patient_name, patient_ID:patient_ID, Appointment_Date:Appointment_Date, Purpose:Purpose,Contact:Contact, Doctor_UserName:Doctor_UserName}
             console.log(Data)
           $.ajax({
                 type: 'POST',
                 url: '/dashboard/Appointment',
                 ContentType: 'application/json',
                 data: Data,             
                 success:  function(data){
                  window.location.reload();
            
                 }
               }); 
         })
     
             
         
     </script>
    <!-- JS -->
   
    <script src="../Assets/vendor/jquery/jquery.min.js"></script>
    <script src="../Assets/js/formmain.js"></script>
    <script src="../Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>