<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="../Assets/img/favicon.png" type="image/png">
	<title>Scar-Health Home</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../Assets/css/bootstrap.css">
	<link rel="stylesheet" href="../Assets/vendor/linericon/style.css">
	<link rel="stylesheet" href="../Assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../Assets/vendor/owl-carousel/owl.carousel.min.css/">
	<link rel="stylesheet" href="../Assets/vendor/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="../Assets/vendor/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="../Assets/vendor/animate-css/animate.css">
	<!-- main css -->
	<link rel="stylesheet" href="../Assets/css/styleindex.css">
</head>

<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6 col-4 header-top-left">
						<a href="tel:+9530123654896">
							<span class="lnr lnr-phone"></span>
							<span class="text">
								<span class="text">+233547981218  +233277732456</span>
							</span>
						</a>
						<a href="mailto:ScarHealth@gmail.com">
							<span class="lnr lnr-envelope"></span>
							<span class="text">
								<span class="text">ScarHealth@gmail.com</span>
							</span>
						</a>
					</div>
					<div class="col-lg-6 col-sm-6 col-8 header-top-right">
						<a href="/users/login" class="text-uppercase">Login</a>
					</div>
				</div>
			</div>
		</div>

		<div class="main_menu">
			

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="../Assets/img/move.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/About">About</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
							<li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner_content">
							<h2>
								We Rank the Best <br>
								HealthCare Software In Ghana.
							</h2>
							<p>
							A Health management software providing Hospitals and Clinics a realiable and secure
							way of protecting Patient Medical Data on the Web.
							</p>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	<section class="feature_area">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="lnr lnr-screen"></span>
						</div>
						<div class="desc">
							<h4>Simple UI Operation</h4>
							<p>
								Scar-Health , provide simple userinterface for medical professionals to be able 
								navigate the software with ease, to speed up their work.
							</p>
						</div>
					</div>
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="fa fa-user"></span>
						</div>
						<div class="desc">
							<h4>Organized Hospital OPD-IPD</h4>
							<p>
								The Software provides an Oranganized OPD and IPD Operation Dashboard which
								will assist Nurses and Doctors work with ease.
							</p>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start Department Area =================-->
	<div class="department_area section_gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="dpmt_courses">
						<div class="row">
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/uii.png" alt="">
									</div>
									<h4>Simple UserInterface</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/db.png" alt="">
									</div>
									<h4> Patient Insight</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/50.png" alt="">
									</div>
									<h4>Cloud Database</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/HS.png" alt="">
									</div>
									<h4>OPD</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/IPD.png" alt="">
									</div>
									<h4>IPD</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/01.png" alt="">
									</div>
									<h4>Accounts & Billings</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="../Assets/img/dpmt/mess.png" alt="">
									</div>
									<h4>Messageing</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="dpmt_right">
						<h1>Scar-Health Offer The Best Health Management System on the Web</h1>
						<p>Scar-Health provides cloud based medical Data protection, with simple user-interface and better Patient insight,Data management. <br>
							Scar Health hospital management system (HIS), is an integrated information system design to manage the administrative, financial and clinical aspect of a hospital. This consists of both paper-based information processing as well as data processing system. This helps health care providers to manage the patient flow effectively in a real time requirement.</p>
						<p>Scar Health HIS software provides Users with friendly user interface, easy to use by just clicking on links provided.  Due to it cloud base nature, all information are stored on a remote database enabling users to access information at anywhere and anytime.  </p>
						<a href="/users/register" class="primary-btn text-uppercase">Register Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Department Area =================-->

	<!--================ Start Popular Courses Area =================-->
	<div class="popular_courses lite_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="main_title">
						<h2>Main Features</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single course -->
				
				<div class="col-lg-3 col-md-6">
					<div class="course_content">
						<h4>
							<a href="">OPD / IPD Operations</a>
						</h4>
						<p>This feature allows nurses and Opd staffs to register new patient, record his/her vitals and submit it to the consulting doctor.  It also allow the hospitals to manage their bedding system, admit a patient and discharge patients successfully.</p>
						
					</div>
				</div>

				<!-- single course -->
				<div class="col-lg-3 col-md-6">
						<div class="course_content">
							<h4>
								<a href="">Physician Activity Section</a>
							</h4>
							<p>This section is solely for consulting physicians, they can view the vitals of any particular patient, enter the medical reports and add medications which will be send to the pharmacy. This feature also allow doctors to view the medical history and laboratory results of any patient</p>
							
						</div>
					</div>
			
				<!-- single course -->
				<!-- single course -->
				<div class="col-lg-3 col-md-6">
					<div class="course_content">
						<h4>
							<a href="">Accounts Operations</a>
						</h4>
						<p>This feature allows the accounts section to view all the bills accumulated by any particular patient during his/her visit to the hospital/clinic. staff can procced to initiate payment and print receipt. This feature gives detail history of all the accounts activities   </p>
						
					</div>
				</div>
				<!-- single course -->
			
			<div class="col-lg-3 col-md-6">
				<div class="course_content">
					<h4>
						<a href="">Pharmacy and Laboratory</a>
					</h4>
					<p>At the pharmacy, staff can view doctor's prescribed drugs and administer. They can add stocks manually all or by excell upload. Drugs are sold with automatic stock update operations. The laboratory also allow upload of lab result and other key services </p>
					
				</div>
			</div>
			
			</div>
		</div>
	</div>
	<!--================ End Popular Courses Area =================-->

	<!--================ Start Fact Area =================-->

	
	<!--================ Start footer Area  =================-->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Top Services</h4>
					<ul>
						<li><a href="#">Website Management</a></li>
						<li><a href="#">Online Database</a></li>
						<li><a href="#">Hospital And clinic IT Solutions</a></li>
						<li><a href="#">Branding Services</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Hospital Management</a></li>
						<li><a href="#">IT Solutions</a></li>
						<li><a href="#">Online Database Management</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Talk to Us</h4>
					<p>You can trust us. we only send promo offers,</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'"
							 required="" type="email">
							<button class="click-btn btn btn-default">
								<span>subscribe</span>
							</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright © 2020 All rights reserved |
				  <a href="#">Scar-Health</a></p>
				<div class="col-lg-4 col-sm-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../Assets/js/jquery-3.2.1.min.js"></script>
	<script src="../Assets/js/popper.js"></script>
	<script src="../Assets/js/bootstrap.min.js"></script>
	<script src="../Assets/js/stellar.js"></script>
	<script src="../Assets/js/countdown.js"></script>
	<script src="../Assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="../Assets/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="../Assets/js/owl-carousel-thumb.min.js"></script>
	<script src="../Assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="../Assets/vendor/counter-up/jquery.counterup.js"></script>
	<script src="../Assets/js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../Assets/js/gmaps.min.js"></script>
	<script src="../Assets/js/theme.js"></script>
</body>

</html>