<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Login</title>

  <!-- Custom fonts for this template-->
  <link href="../Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="../Assets/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <% include ./partials/messages %>
      <div class="card-body">
        <form id="myForms" method="post" action="/users/login" >
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="UserName" id="inputEmail" class="form-control" placeholder="inputEmail" required="required" autofocus="autofocus">
              <label for="inputEmail">UserName</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" >Login</button>
        </form>
        <div class="btn-group" role="group">
          
        <div class="text-center">
          <a class="d-block small mt-3" href="/users/register">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
      <button id="btnGroupDrop1" type="button" class="btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login As User
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/dashboard/DocLogin">Doctor</a>
        <a class="dropdown-item" href="/dashboard/PharmLogin">Pharmacist</a>
        <a class="dropdown-item" href="/dashboard/AdminLogin">Admin</a>
      </div>
    </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  
  <script src="../Assets/vendor/jquery/jquery.min.js"></script>
  <script src="../Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
