<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient/folder</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../Assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link href="../Assets/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/form.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
               
                <div class="signup-form"> 
                    <form action="/dashboard/MedicalForm" method="POST" class="register-form" id="register-form">     
                        <h2>PATIENT's MEDICAL REPORT FORM</h2>
                        <% include ./partials/messages %>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Patients Full Name">Patients Full Name</label>
                                <input type="text" name="Patients_Name" id="Patients Full Name" required/>
                            </div>
                            
                            <div class="form-group">
                                <label for="Folder(ID)">Patient (ID)</label>
                                    <input type="text" name="Patient_ID" id="Folder(ID)" required/>
                                </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                            <label for="Temperature Level(TL)">Hospital Name(TL)</label>
                                <input type="text" name="Hospital" id="Temperature Level(TL)" required/>
                            </div>
                    
                          <div class="form-group">
                            <label for="Blood Level(BP)">Doctor's Name</label>
                            <input type="text" name="Doctor_Name" id="Blood Level(BP)" required/>
                          </div>
                      </div>
                        
                      <div class="form-group">
                        <label for="comment">Patient's Symptoms & Compliants</label>
                        <textarea class="form-control" rows="6" cols="60" name="Patient_Complaints" id="comment" > </textarea>
                      </div>

                      <div class="form-group">
                        <label for="comment">Patient's Medical History</label>
                        <textarea class="form-control" rows="6" cols="60" name="Patient_History" id="comment"> </textarea>
                      </div>

                      <div class="form-group">
                        <label for="comment">Diagnosis</label>
                        <textarea class="form-control" rows="6" cols="60" name="Diagnosis" id="comment" > </textarea>
                      </div>

                      <div class="form-group">
                        <label for="comment">Treatment</label>
                        <textarea class="form-control" rows="6" cols="60" name="Treament" id="comment" > </textarea>
                      </div>

                      <div class="form-group">
                        <label for="comment">Any Additional Information</label>
                        <textarea class="form-control" rows="6" cols="60" name="Adittional_Info" id="comment" > </textarea>
                      </div>

                      <button type="submit" class="btn btn-primary btn-block" >Add Medical Report</button>
                    </form>


                    <form action="/dashboard/GetDrugs" method="POST" class="register-form" id="register-form">     
                        <h3>Drug Prescription </h3>
                        <% include ./partials/messages %>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Patients Full Name">Patients Full Name</label>
                                <input type="text" name="Patients_Name" id="Patients Full Name" required/>
                            </div>
                            
                            <div class="form-group">
                                <label for="Folder(ID)">Patient (ID)</label>
                                    <input type="text" name="Patient_ID" id="Folder(ID)" required/>
                                </div>

                        </div>
                        
                      <div class="form-group">
                        <label for="Blood Level(BP)">Current Date(DD /MM/ YYYY)</label>
                        <input type="date" name="Current_Date" id="Blood Level(BP)" required/>
                      </div>

                      <div class="form-row">
                        <div class="form-group">
                        <label for="Temperature Level(TL)">Drug One(Type & Name)</label>
                            <input type="text" name="Drug_One" id="Temperature Level(TL)" required/>
                        </div>
                
                      <div class="form-group">
                        <label for="Blood Level(BP)">Drug One Dosage</label>
                        <input type="text" name="Dosage_One" id="Blood Level(BP)" required/>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group">
                    <label for="Temperature Level(TL)">Drug Two(Type & Name)</label>
                        <input type="text" name="Drug_Two" id="Temperature Level(TL)" />
                    </div>
            
                  <div class="form-group">
                    <label for="Blood Level(BP)">Drug Two Dosage</label>
                    <input type="text" name="Dosage_Two" id="Blood Level(BP)" />
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Three(Type & Name)</label>
                    <input type="text" name="Drug_Three" id="Temperature Level(TL)"/>
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Three Dosage</label>
                <input type="text" name="Dosage_Three" id="Blood Level(BP)" />
              </div>

              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Four(Type & Name)</label>
                    <input type="text" name="Drug_Four" id="Temperature Level(TL)" />
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Four Dosage</label>
                <input type="text" name="Dosage_Four" id="Blood Level(BP)" />
              </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Five(Type & Name)</label>
                    <input type="text" name="Drug_Five" id="Temperature Level(TL)" />
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Five Dosage</label>
                <input type="text" name="Dosage_Five" id="Blood Level(BP)" />
              </div>
          </div>
                      
          <button type="submit" class="btn btn-primary btn-block" >Add Treatment</button>
         </form>
    </div>

            <div class="signup-form">
              <form action="/dashboard/Billing" method="POST" class="register-form" id="register-form">     
                <h3>BILLINGS</h3>
                <% include ./partials/messages %>
                 <div class="form-row">
                    <div class="form-group">
                         <label for="Patients Full Name">Patients Full Name</label>
                           <input type="text" name="Patients_Name" id="Patients Full Name" required/>
                    </div>
                          
                          <div class="form-group">
                           <label for="Folder(ID)">Patient (ID)</label>
                           <input type="text" name="Patient_ID" id="Folder(ID)" required/>
                      </div>
                  </div>

                      <div class="form-row">
                          <div class="form-group">
                          <label for="Temperature Level(TL)">Hospital's UserName</label>
                              <input type="text" name="Hospital_UserName" id="Temperature Level(TL)" required/>
                       </div>
                  
                        <div class="form-group">
                          <label for="Blood Level(BP)">Doctors Name</label>
                          <input type="text" name="Doctor_Name" id="Blood Level(BP)" required/>
                        </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group">
                      <label for="Temperature Level(TL)">Current Month</label>
                          <input type="month" name="Month" id="Temperature Level(TL)" required/>
                   </div>
              
                    <div class="form-group">
                      <label for="Blood Level(BP)">Current Date(Day)</label>
                      <input type="date" name="Current_Date" id="Blood Level(BP)" required/>
                    </div>
                </div>

                     <div class="form-group">
                       <label for="Current Date">Department</label>
                       <input type="text" name="Department" id="Current" required/>
                     </div>

                    <div class="form-row">
                      <div class="form-group">
                      <label for="Temperature Level(TL)">Billing One</label>
                          <input type="number" name="Billing_One" id="Temperature Level(TL)" />
                      </div>
              
                    <div class="form-group">
                      <label for="Blood Level(BP)">Billing One Purpose</label>
                      <input type="text" name="Purpose_One" id="Blood Level(BP)" />
                    </div>
                   </div>  
                    <div class="form-row">
                      <div class="form-group">
                      <label for="Temperature Level(TL)">Billing Two</label>
                          <input type="number" name="Billing_Two" id="Temperature Level(TL)" />
                      </div>
              
                    <div class="form-group">
                      <label for="Blood Level(BP)">Billing Two Purpose</label>
                      <input type="text" name="Purpose_Two" id="Blood Level(BP)" />
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" >Add Bill</button>
                  </form>
            </div>  
            
            </div>

     </div>
      </div>
      </div>

    </div>

    <!-- JS -->
    <script src="../Assets/vendor/jquery/jquery.min.js"></script>
    <script src="../Assets/js/formmain.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>