<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient/folder</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../Assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../Assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../Assets/css/form.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
               
                <div class="signup-form"> 
                
                    <form action="/dashboard/GetDrugs" method="POST" class="register-form" id="register-form">     
                        <h3>Drug Prescription </h3>
                        <% include ./partials/messages %>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Patients Full Name">Patients Full Name</label>
                                <input type="text" name="Patients_Name" id="Patients Full Name" required/>
                            </div>
                            
                            <div class="form-group">
                                <label for="Folder(ID)">Patient (ID)</label>
                                    <input type="text" name="Patient_ID" id="Folder(ID)" required/>
                                </div>

                        </div>
                        
                      <div class="form-group">
                        <label for="Blood Level(BP)">Current Date(DD /MM/ YYYY)</label>
                        <input type="date" name="Current_Date" id="Blood Level(BP)" required/>
                      </div>

                      <div class="form-row">
                        <div class="form-group">
                        <label for="Temperature Level(TL)">Drug One(Type & Name)</label>
                            <input type="text" name="Drug_One" id="Temperature Level(TL)" required/>
                        </div>
                
                      <div class="form-group">
                        <label for="Blood Level(BP)">Drug One Dosage</label>
                        <input type="text" name="Dosage_One" id="Blood Level(BP)" required/>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group">
                    <label for="Temperature Level(TL)">Drug Two(Type & Name)</label>
                        <input type="text" name="Drug_Two" id="Temperature Level(TL)" />
                    </div>
            
                  <div class="form-group">
                    <label for="Blood Level(BP)">Drug Two Dosage</label>
                    <input type="text" name="Dosage_Two" id="Blood Level(BP)" />
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Three(Type & Name)</label>
                    <input type="text" name="Drug_Three" id="Temperature Level(TL)"/>
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Three Dosage</label>
                <input type="text" name="Dosage_Three" id="Blood Level(BP)" />
              </div>

              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Four(Type & Name)</label>
                    <input type="text" name="Drug_Four" id="Temperature Level(TL)" />
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Four Dosage</label>
                <input type="text" name="Dosage_Four" id="Blood Level(BP)" />
              </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                <label for="Temperature Level(TL)">Drug Five(Type & Name)</label>
                    <input type="text" name="Drug_Five" id="Temperature Level(TL)" />
                </div>
        
              <div class="form-group">
                <label for="Blood Level(BP)">Drug Five Dosage</label>
                <input type="text" name="Dosage_Five" id="Blood Level(BP)" />
              </div>
          </div>
                      
          <button type="submit" class="btn btn-primary btn-block" >Add Treatment</button>
         </form>
    </div>
   </div> 
  </div>

 </div>
     </div>
      </div>

    </div>

    <!-- JS -->
    <script src="../Assets/vendor/jquery/jquery.min.js"></script>
    <script src="../Assets/js/formmain.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>